# Resources
https://pandas.pydata.org/docs/getting_started/intro_tutorials/06_calculate_statistics.html
https://www.youtube.com/watch?v=vmEHCJofslg

# Loading Data

In [2]:
import pandas as pd
df = pd.read_csv('pokemon_data.csv')
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# Reading Data

In [3]:
# Headers 
df.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [4]:
# Specific columns 
df[['Name','Type 1', 'HP']] # or df.Name

                      Name   Type 1  HP
0                Bulbasaur    Grass  45
1                  Ivysaur    Grass  60
2                 Venusaur    Grass  80
3    VenusaurMega Venusaur    Grass  80
4               Charmander     Fire  39
..                     ...      ...  ..
795                Diancie     Rock  50
796    DiancieMega Diancie     Rock  50
797    HoopaHoopa Confined  Psychic  80
798     HoopaHoopa Unbound  Psychic  80
799              Volcanion     Fire  80

[800 rows x 3 columns]

In [5]:
# Specific row
# print(df.iloc[1]) print the second index
df.iloc[1:4] # print from index 1 to 3

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False

In [6]:
# Specific location 
df.iloc[2,1]

'Venusaur'

# Sorting/Fitlering

In [7]:
# Filter data 
# df.loc[df['Type 1']== 'Fire']
# with conditions
new_df = df.loc[(df['Type 1'] == 'Grass') & (df["Type 2"] == 'Poison') & (df['HP']>70)] 
new_df = new_df.reset_index(drop=True ) # Reset index after filtering
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False

In [8]:
# Using regex 
# df.loc[~df['Name'].str.contains('Mega')] # Remove names contain the string 'Mega'
import re 
df.loc[df['Type 1'].str.contains('fire|grass',flags=re.I,regex=True)] # Ignore upper case or lower case

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
735,667,Litleo,Fire,Normal,62,50,58,73,54,72,6,False
736,668,Pyroar,Fire,Normal,86,68,72,109,66,106,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [9]:
# With regular expression 
df.loc[df['Name'].str.contains('^pi[a-z]*',flags=re.I,regex=True)] # Search for name started with pi 
# Regular expression explaination 
# ^: start from the beginning 
# pi: match the string 'pi' 
# [a-z]: any lower case letter 
# *: repeat last match at least 0 times(in this case: [a-z])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

In [10]:
df.describe()

,#,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [11]:
df.sort_values(['Name','HP'],ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,108,100,121,81,95,95,6,True

# Making changes to data

## Basics

In [12]:
# Add a column
# Create new col with sum values from specific cols
# df['Total'] = df['Attack'] + df['Defense'] + df['Speed']
df['Total'] = df.iloc[:,4:9].sum(axis=1) # Create a new column with sum of values from col 4 to 9
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244

In [13]:
# Remove a column 
df.drop(columns=['Total'])
df.head(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,273
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,345
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,445
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,545
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,244

In [14]:
# Reorder columns 
cols = list(df.columns)
df = df[cols[0:4]+ [cols[-1]]+ cols[4:12]] # single columns are counted as string and need to be  put in []
df.head(5)
# Note:
# Using hard-coded indexes instead of specific names when modifying data can lead to unexpeted behaviour

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,273,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,345,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,445,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,545,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,244,39,52,43,60,50,65,1,False

## Conditional changes

In [15]:
df.loc[df['Type 1']== 'Fire', 'Ledendary']=True # Change Legendary status if type 1 is Fire
df

/tmp/ipykernel_218419/625825986.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['Type 1']== 'Fire', 'Ledendary']=True # Change Legendary status if type 1 is Fire

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ledendary
0,1,Bulbasaur,Grass,Poison,273,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,345,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,445,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,545,80,100,123,122,120,80,1,False,NaN
4,4,Charmander,Fire,NaN,244,39,52,43,60,50,65,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,550,50,100,150,100,150,50,6,True,NaN
796,719,DiancieMega Diancie,Rock,Fairy,590,50,160,110,160,110,110,6,True,NaN
797,720,HoopaHoopa Confined,Psychic,Ghost,530,80,110,60,150,130,70,6,True,NaN
798,720,HoopaHoopa Unbound,Psychic,Dark,600,80,160,60,170,130,80,6,True,NaN
799,721,Volcanion,Fire,Water,530,80,110,120,130,90,70,6,True,True

In [16]:
# Set Generation and Legendary entries' values to 'Test' if Total is > 500
df.loc[df['Total'] > 500, ['Generation', 'Ledendary']]= 'Test' 
df

/tmp/ipykernel_218419/437553133.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Test' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df.loc[df['Total'] > 500, ['Generation', 'Ledendary']]= 'Test'

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Ledendary
0,1,Bulbasaur,Grass,Poison,273,45,49,49,65,65,45,1,False,NaN
1,2,Ivysaur,Grass,Poison,345,60,62,63,80,80,60,1,False,NaN
2,3,Venusaur,Grass,Poison,445,80,82,83,100,100,80,1,False,NaN
3,3,VenusaurMega Venusaur,Grass,Poison,545,80,100,123,122,120,80,Test,False,Test
4,4,Charmander,Fire,NaN,244,39,52,43,60,50,65,1,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,550,50,100,150,100,150,50,Test,True,Test
796,719,DiancieMega Diancie,Rock,Fairy,590,50,160,110,160,110,110,Test,True,Test
797,720,HoopaHoopa Confined,Psychic,Ghost,530,80,110,60,150,130,70,Test,True,Test
798,720,HoopaHoopa Unbound,Psychic,Dark,600,80,160,60,170,130,80,Test,True,Test
799,721,Volcanion,Fire,Water,530,80,110,120,130,90,70,Test,True,Test

# Aggregate Statistic

In [17]:
df = pd.read_csv('pokemon_data.csv') # This just for clearing the previous changes
df.groupby(['Type 1']).mean().sort_values('Defense',ascending=False)

TypeError: agg function failed [how->mean,dtype->object]

# Saving/ Exporting

In [ ]:
# To csv
df.to_csv('modified_pokemon_data.csv', index=False)
# To excel
# df.to_excel('modified_pokemon_data.xlsx', index=False)
# To txt
# df.to_csv('modified_pokemon_data.txt', index=False, sep='\t')